<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2015. Healthcare Services Platform Consortium. All Rights Reserved. -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="false">

    <!-- Configuration properties location -->
    <context:property-placeholder location="classpath:config/config.properties"/>

    <bean id="clientId" class="java.lang.String">
        <constructor-arg value="${example.clientId}"/>
    </bean>

    <bean id="scope" class="java.lang.String">
        <constructor-arg value="${example.scopes}"/>
    </bean>

    <bean id="redirectUri" class="java.lang.String">
        <constructor-arg value="${example.redirectUri}"/>
    </bean>

    <bean id="clientSecret" class="java.lang.String">
        <constructor-arg value="${example.clientSecret}"/>
    </bean>

    <bean id="appEntryPoint" class="java.lang.String">
        <constructor-arg value="${example.appEntryPoint}"/>
    </bean>

    <bean id="authorizationEndpointsProvider" class="org.hspconsortium.client.auth.impl.DefaultAuthorizationEndpointsProvider">
    </bean>

    <bean id="stateProvider" class="org.hspconsortium.client.auth.impl.DefaultStateProvider">
    </bean>

    <bean id="fhirSessionContextHolder" class="org.hspconsortium.client.auth.context.impl.SimpleFhirSessionContextHolder">
    </bean>

    <bean id="accessTokenProvider" class="org.hspconsortium.client.auth.impl.DefaultAccessTokenProvider">
    </bean>

    <bean id="codeFlowAuthorizer" class="org.hspconsortium.client.auth.codeflow.CodeFlowAuthorizer">
        <property name="fhirClientContextHolder" ref="fhirSessionContextHolder" />
        <property name="authorizationEndpointsProvider" ref="authorizationEndpointsProvider" />
        <property name="stateProvider" ref="stateProvider" />
    </bean>

    <bean id="codeFlowSessionFactory" class="org.hspconsortium.client.session.SessionFactory$Impl">
        <constructor-arg name="clientId" ref="clientId"/>
        <constructor-arg name="redirectUri" ref="redirectUri"/>
        <constructor-arg name="clientSecret" ref="clientSecret"/>
        <constructor-arg name="scope" ref="scope"/>
        <property name="codeFlowAuthorizer" ref="codeFlowAuthorizer"/>
        <property name="accessTokenProvider" ref="accessTokenProvider"/>
        <property name="fhirClientContextHolder" ref="fhirSessionContextHolder"/>
    </bean>

</beans>